<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Todo</title>
</head>
<body>
<h1>Create new todo</h1>
<form th:action="@{/todo/add}" method="post" th:object="${todo}">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="title todo"/><br>
    <label for="urgent">Urgent</label>
    <input type="checkbox" th:name="urgent" id="urgent"><br>
    <label for="done">Done</label>
    <input type="checkbox" th:name="done" id="done"><br>
    <button type="submit">Submit</button>

</form>
</body>
</html>