body{
    margin-top: 0px;
    background-color: wheat; 
    font-size: 25px;
}

main{
    padding: 10% 5%;
}

h1{
    text-align: center;
}

header{
    height: 3em;
    background-color: grey;
}

nav>img{
    max-height: 2.5em;
}


nav > a{
    float: right;
    padding: 5px;
    margin: 10px;
    margin-top: 0.5em;
    border: solid black 5px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

nav>a:hover{
    color:blue;
}

/*tag(1) < class(10) < id (100) */

.characters{
    background-color: teal;
}

section{
    background-color: red;
}

#lastCharacter{
    background-color: yellow;
}



